@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.score{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Share Tech Mono', monospace;
    opacity: 1;
    user-select: none;
    cursor: default;
}

.score-points, .score-games{
    display: flex;
    margin-left: .5rem;
    letter-spacing: 1rem;
}

.score-points{
    font-size: 3em;
}

.score-games{
    justify-content: space-around;
    margin-top: -.5em;
}

.score-animation{
    animation: showScore 2s ease-in-out;
}

@keyframes showScore{
    0%{
        display: flex;
        top: -50%;
    }
    100%{
        top: 0;
    }
}